<section class="heading--section">
  <nav class="nav">
    <div class="logo">
      <img src="/images/yann 1 (1).png" alt="" />
      <h3>YANN.</h3>
    </div>
    <div class="nav__list" id="nav">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        id="menu-icon"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
      <ul class="list" id="nav__list">
        <li class="list__item list__item--nav">home</li>
        <li class="list__item list__item--nav">about</li>
        <li class="list__item list__item--nav">contact</li>
        <li class="list__item list__item--nav">menu</li>
        <li class="list__item list__item--nav">order</li>
        <button class="btn">get order</button>
      </ul>
    </div>
  </nav>
  <div class="hero grid grid--1x2">
    <div class="hero__img">
      <img src="/images/delivery-man.png" alt="" />
    </div>
    <div class="hero__text">
      <h1 class="hero__title">WELCOME TO YANN.</h1>
      <h2 class="hero__subtitle">deliver what you want!</h2>
    </div>
  </div>
</section>
