<section class="sample-food">
  <div class="line">
    <p>menu</p>
    <hr />
  </div>
  <h2>top foods</h2>
  <div class="sample-food-container">
    <div class="food-card">
      <div class="food-card-img">
        <img src="/images/menu/caesar.jpg" alt="" />
      </div>
      <div class="food-card-content">
        <h2>Lorem, ipsum dolor.</h2>
        <p>
          price: 400 ETB <sub><del>500 ETB</del></sub>
        </p>
        <button class="btn">Order Now</button>
      </div>
    </div>
    <div class="food-card">
      <div class="food-card-img">
        <img src="/images/menu/caesar.jpg" alt="" />
      </div>
      <div class="food-card-content">
        <h2>Lorem, ipsum dolor.</h2>
        <p>
          price: 400 ETB <sub><del>500 ETB</del></sub>
        </p>
        <button class="btn">Order Now</button>
      </div>
    </div>
    <div class="food-card">
      <div class="food-card-img">
        <img src="/images/menu/caesar.jpg" alt="" />
      </div>
      <div class="food-card-content">
        <h2>Lorem, ipsum dolor.</h2>
        <p>
          price: 400 ETB <sub><del>500 ETB</del></sub>
        </p>
        <button class="btn">Order Now</button>
      </div>
    </div>
  </div>

  <button class="btn show-more">show more</button>
</section>
