<section class="sample-food">
  <div class="line">
    <p>specials</p>
    <hr />
  </div>
  <h2>special food for today</h2>
  <div class="sample-food-container">
    <div class="food-card">
      <div class="food-card-img">
        <img src="/images/menu/caesar.jpg" alt="" />
      </div>
      <div class="food-card-content">
        <h2>Lorem, ipsum dolor.</h2>
        <ul class="list">
          <li class="list__item list__item--footer">1 doro</li>
          <li class="list__item list__item--footer">6 injera</li>
          <li class="list__item list__item--footer">12 egg</li>
          <li class="list__item list__item--footer">4 coca cola</li>
        </ul>
        <p>
          price: 2999 ETB <sub><del>3499 ETB</del></sub>
        </p>
        <button class="btn">Order Now</button>
      </div>
    </div>
    <div class="food-card">
      <div class="food-card-img">
        <img src="/images/menu/caesar.jpg" alt="" />
      </div>
      <div class="food-card-content">
        <h2>Lorem, ipsum dolor.</h2>
        <ul class="list">
          <li class="list__item list__item--footer">1 doro</li>
          <li class="list__item list__item--footer">6 injera</li>
          <li class="list__item list__item--footer">12 egg</li>
          <li class="list__item list__item--footer">4 coca cola</li>
        </ul>
        <p>
          price: 2999 ETB <sub><del>3499 ETB</del></sub>
        </p>
        <button class="btn">Order Now</button>
      </div>
    </div>
    <div class="food-card">
      <div class="food-card-img">
        <img src="/images/menu/caesar.jpg" alt="" />
      </div>
      <div class="food-card-content">
        <h2>Lorem, ipsum dolor.</h2>
        <ul class="list">
          <li class="list__item list__item--footer">1 doro</li>
          <li class="list__item list__item--footer">6 injera</li>
          <li class="list__item list__item--footer">12 egg</li>
          <li class="list__item list__item--footer">4 coca cola</li>
        </ul>
        <p>
          price: 2999 ETB <sub><del>3499 ETB</del></sub>
        </p>
        <button class="btn">Order Now</button>
      </div>
    </div>
  </div>

  <button class="btn show-more">show more</button>
</section>
