<section class="why">
  <div class="line">
    <p>why us</p>
    <hr />
  </div>
  <h2>why you choose our</h2>
  <div class="why-content">
    <div class="why__card">
      <h2>Wide Selection of Delicious,</h2>
      <p>
        Healthy Meals Yann offers an extensive menu with a diverse range of
        cuisine styles and dietary options. From classic comfort foods to
        innovative, chef-created dishes, there's something to satisfy every
        palate. And with a focus on fresh, high-quality ingredients, you can
        feel good about what you're eating.
      </p>
    </div>
    <div class="why__card">
      <h2>Fast, Convenient Delivery</h2>
      <p>
        Ordering from Yann is quick and easy through their user-friendly website
        and mobile app. Meals are prepared fresh and delivered promptly to your
        door, saving you the time and hassle of grocery shopping and cooking.
      </p>
    </div>
    <div class="why__card">
      <h2>Customizable to Fit Your Lifestyle</h2>
      <p>
        Yann allows you to tailor your orders to accommodate allergies, dietary
        restrictions, and personal preferences. You can easily make
        modifications, schedule recurring deliveries, and try new menu items to
        keep your meals exciting.
      </p>
    </div>
  </div>
</section>
