<section class="why">
  <div class="line">
    <p>why us</p>
    <hr />
  </div>
  <h2>why you choose our</h2>
  <div class="why-content">
    <div class="why__card">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        tempore. Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="why__card">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        tempore. Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="why__card">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        tempore. Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</section>
