:root{
    --color-primary:#cda45e;
    --color-body:#aaaaaa;
    --color-heading:#fff;
}

/* typography */

html{
    font-size: 62.5%;
    font-family:Poppins,sans-serif;
}

h1,h2,h3 {
    color: var(--color-heading);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2rem;
}
p{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

/*button*/

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: 2px solid var(--color-primary);
    color: var(--color-heading);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    transition: 0.5s;
}

.btn:hover{
    background-color: var(--color-primary);
   
}

