:root{
    --color-primary:#cda45e;
    --color-body:#aaaaaa;
    --color-heading:#fff;
}

/* typography */

html{
    font-size: 62.5%;
    font-family:Poppins,sans-serif;
}

h1,h2,h3 {
    color: var(--color-heading);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2rem;
}
p{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

/*button*/

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: 2px solid var(--color-primary);
    color: var(--color-heading);
    font-size: 1.6rem;
    font-weight: 600;
    background-color: transparent;
    transition: 0.5s;
}

.btn:hover{
    background-color: var(--color-primary);
   
}

/* grid */
.grid {
    display: grid;
}

.grid--1x2{
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

/* list */

ul{
    list-style-type: none;
    padding: 2rem;
    margin: 2rem;
    color: var(--color-heading);
}

.list__item {
    padding: 1rem 0;
}
.list__item--nav {
    display: inline-block;
    padding: 0 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    transition: all .3s;
}

.list__item--nav:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.list__item--footer{
    list-style: url(/icon/chevron-right.svg);
    font-size: 2rem;
 text-transform: capitalize;
 transition: all .3s;
}

.list__item--footer:hover{
    color: var(--color-primary);
    cursor: pointer;
}

/* input */

.input{
    display: block;
    width: 50%;
    padding: 1rem;
   margin: 2rem auto;
    border: 1px solid #594b34;
    color: var(--color-heading);
    font-size: 1.6rem;
    font-weight: 600;
    outline: 0;
    background-color: transparent;
    transition: 0.5s;
}

.input::placeholder{
    color: #9e7e4b;
    font-weight: 300;
}

.input:focus{
    border: 1px solid var(--color-primary);
   
}

/* icon */

.icon--container {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 100%;
    width: 4rem;
    transition: 0.5s;
    cursor: pointer;
}

.icon--container:hover{
    background-color: var(--color-primary);
    color: var(--color-heading);
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

/* nav */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:rgba(56,56,56,.7);
  
}

.nav .list{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
}

.logo h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.logo img{
    width:5rem;
    height: 5rem;
}

.nav svg {
    display: none;
}



@media screen and  (max-width: 720px){
    .nav .list{
        display: none;
    }

    .nav svg {
            display: block;
            color: var(--color-heading);
        }
        .list__item {
            margin: 3px 0;
            border-bottom: 1px solid var(--color-primary);
        }
}
.active {
    display: flex !important;
    flex-direction: column;
}

.none{
    display: none !important;
}


    

/* hero */

.heading--section{
    background:linear-gradient(to right ,rgb(0 0 0 /0.5), rgb(0 0 0 / 0)), url(/images/Gursha\ Ethiopian\ Food.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1rem 0;
    height: 100vh;
}

.hero__img img{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__text {
 
    text-align: right;
    color: var(--color-heading);
  padding: 5rem;
}

.hero__text h2{
    font-size: 2rem;
    font-weight: 300;
}

.hero__title{
    font-size: 6rem;
    font-weight: 600;
}

@media screen and  (max-width: 720px){

    .hero__img{
        display: none;
    }
}

/*why*/
.why{
    background-color: #000;
    padding: 1rem 2rem;
}
.why-content{
    background-color: #000;
    padding: 1rem 0;
    display: flex;
}

.why__card{
    background-color:rgb(41, 37, 30);
    margin: 2rem;
    text-align: center;
    transition: all .3s;
}

.why h2{
    color: var(--color-primary);
}

.why hr{
    color: var(--color-primary);
}
.why p{

    color: var(--color-body);
    display: inline-block;
}

.why__card:hover{
    background-color: var(--color-primary);
    color: var(--color-heading);
    cursor: pointer;
}

.why__card:hover h2{
    color: var(--color-heading);
}
.why__card:hover p{
    color: var(--color-heading);
}

/* nubers */

.numbers{
    background: linear-gradient(to right ,rgb(0 0 0 /0.5), rgb(0 0 0 / 0)) ,url(/images/number-bg.jpg);
    display: flex;
    padding: 5rem;
    justify-content: space-evenly;
}
.numbers p{
    color: var(--color-heading);
    font-size: 2rem;
    font-weight: 600;
}

.number-element{
    text-align: center;
}


